<div>
	<h2 class="text-center">Template Wizard</h2>
	<div class="row">
		<label for="song" class="col-md-1">Template Name</label>
		<div class="form-group has-feedback row col-md-11">
			<input type="text" class="form-control" id="templateName" ng-model="templateName" placeholder="Enter a template name"/>
		</div>
	</div>


	<!--Entrance-->
	<div class="row">
		<label for="song" class="col-md-1">Entrance</label>
		<div class="form-group has-feedback row col-md-11">
			<input type="text" class="form-control" id="entranceSong" ng-model="entranceSong" search placeholder="Search for the Entrance Hymn"/>
			<i class="fa fa-search fa-2x form-control-feedback" aria-hidden="true"></i>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="song in songSearchResults.entranceSong" ng-click="selectSong(song, songTypeEnum.entrance)">
					{{song.song_name}}
				</li>
				<li class="list-group-item" ng-if="songSearch.length == 0 && entranceSong.length > 3">
					No Results
				</li>
			</ul>
		</div>
	</div>
	
	<!--Presentation of Gifts-->
	<div class="row">
		<label for="song" class="col-md-1">Presentation of Gifts</label>
		<div class="form-group has-feedback row col-md-11">
			<input type="text" class="form-control" id="giftsSong" ng-model="giftsSong" search placeholder="Search for Presentation of Gifts Hymn"/>
			<i class="fa fa-search fa-2x form-control-feedback" aria-hidden="true"></i>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="song in songSearchResults.giftsSong" ng-click="selectSong(song, songTypeEnum.gifts)">
					{{song.song_name}}
				</li>
				<li class="list-group-item" ng-if="songSearch.length == 0 && giftsSong.length > 3">
					No Results
				</li>
			</ul>
		</div>
	</div>

	<!--Communion 1-->
	<div class="row">
		<label for="song" class="col-md-1">Communion 1</label>
		<div class="form-group has-feedback row col-md-11">
			<input type="text" class="form-control" id="com1Song" ng-model="com1Song" search placeholder="Search for the Communion 1 Hymn"/>
			<i class="fa fa-search fa-2x form-control-feedback" aria-hidden="true"></i>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="song in songSearchResults.com1Song" ng-click="selectSong(song, songTypeEnum.com1)">
					{{song.song_name}}
				</li>
				<li class="list-group-item" ng-if="songSearch.length == 0 && com1Song.length > 3">
					No Results
				</li>
			</ul>
		</div>
	</div>

	<!--Communion 2-->
	<div class="row">
		<label for="song" class="col-md-1">Communion 2</label>
		<div class="form-group has-feedback row col-md-11">
			<input type="text" class="form-control" id="com2Song" ng-model="com2Song" search placeholder="Search for the Communion 2 Hymn"/>
			<i class="fa fa-search fa-2x form-control-feedback" aria-hidden="true"></i>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="song in songSearchResults.com2Song" ng-click="selectSong(song, songTypeEnum.com2)">
					{{song.song_name}}
				</li>
				<li class="list-group-item" ng-if="songSearch.length == 0 && com2Song.length > 3">
					No Results
				</li>
			</ul>
		</div>
	</div>

	<!--Recessional-->
	<div class="row">
		<label for="song" class="col-md-1">Recessional</label>
		<div class="form-group has-feedback row col-md-11">
			<input type="text" class="form-control" id="recessionalSong" ng-model="recessionalSong" search placeholder="Search for the Recessional Hymn"/>
			<i class="fa fa-search fa-2x form-control-feedback" aria-hidden="true"></i>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="song in songSearchResults.recessionalSong" ng-click="selectSong(song, songTypeEnum.recessional)">
					{{song.song_name}}
				</li>
				<li class="list-group-item" ng-if="songSearch.length == 0 && recessionalSong.length > 3">
					No Results
				</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<label for="song" class="col-md-1">Mass Setting</label>
		<div class="form-group has-feedback row col-md-11">
			<select class="form-control" ng-options="item as item.name for item in massSettings" ng-model="massSetting"></select>
		</div>
	</div>
	
    <div class="row-fluid">
        <button type="button" class="btn btn-primary" ng-click="TemplateWizardController.output()">Export</button>
        <button type="button" class="btn btn-default" ng-click="TemplateWizardController.cancel()">Cancel</button>
    </div>

</div>
